.task-list {
    display: flex;
    color: black;
    width: 500px;
    height: 70px;
    margin-top: 5px;
    background-color: white;
    justify-content: space-between;

}
.High-line {
border-bottom: 4px solid red;
margin-top: 60px;
width: 200px;

}
.Medium-line {
    border-bottom: 4px solid yellow;
    margin-top: 60px;
    width:300px
}
.Low-line {
    border-left: 4px solid green;
    margin-left: 180px;
}