.task-list {
    display: flex;
    color: black;
    width: 600px;
    height: 70px;
    margin-top: 5px;
    background-color:rgb(190, 184, 184);
    justify-content: space-between;

}
.High-line {
border-bottom: 4px solid red;
margin-top: 60px;
width: 200px;

}
.Medium-line {
    border-bottom: 4px solid yellow;
    margin-top: 60px;
    width:300px
}
.Low-line {
    border-left: 4px solid green;
    margin-left: 180px;
}
caption {
    font-weight: bold;
    font-size: 24px;
    text-align: left;
    color: black;
    display: flex;
    margin-bottom: 17px;
    margin-top:20px;
  
  }
  .display-details {
    text-align: center;
    text-emphasis: none;
    text-decoration: solid;
  }
  table {
    
    border: 1px solid black;
    border-collapse: collapse;
    text-align: center;
    vertical-align: middle;
    flex-direction: column;
    }
    thead {
     background: linear-gradient(black ,white);    
     letter-spacing: 1px;
      font-size: .875rem;
      text-transform: uppercase;
    }
     
  thead th {
    font-weight: bold;
    font-size: 24px;
    width: 25%;
  
  }
  th,td {
     
      padding: 10px ;
      border: 1px solid black;
  }
  tbody th {
    background-color: #fff;
    text-align: left;
  }